@media only screen and (min-width: 900px) {
    h2 {
        text-align: center;
    }
    .logo {
        position: relative;
        top: -90px;
        left: 30px;
    }
  }

  @media only screen and (max-width: 900px) {
    h2 {
        display: none;
    }
    .logo {
        position: relative;
        top: -10px;
        left: 30px;
    }
  }  


