mat-card {
    margin-bottom: 20px;
}

.buttonStyle {
    margin-bottom: 10px;
    margin-right: 20px;
}

.currencyClass {
    color: whitesmoke;
    background-color: blueviolet;
}

li {
    list-style-type: none;
    float: left;
    width: 40px;
    padding: 3px 5px 3px 5px;
    border-radius: 5px;
}

.clearFloat {
    clear: both;
}