<div class="container">

    <h3> Examples of data binding in Angular </h3>
    <mat-card>
        <mat-card-header>
            <mat-card-title>Ex. 1 - value showed in context template from controller</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <span>Hello: {{one}} </span>
        </mat-card-content>
    </mat-card>    

    <mat-card>
        <mat-card-header>
            <mat-card-title>Ex. 2 - two way data binding</mat-card-title>
        </mat-card-header>   
        <mat-card-content>
            <mat-form-field class="example-full-width"> 
                <input matInput type="text" placeholder="enter your real name" [(ngModel)]="twoWayBinding"/>
            </mat-form-field>   
            <p>I'm <b>{{twoWayBinding}}</b> not {{one}}</p>
        </mat-card-content>   
    </mat-card>   
    

    <mat-card>
        <mat-card-header>
            <mat-card-title>Ex. 3 - template reference to own context variable</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <p>City were you live?  </p>
            <mat-form-field class="example-full-width">
                <input matInput placeholder="City" #cityName type="text" (input) = "cityDisplay()"/>
            </mat-form-field>   
            <p>{{cityName.value}}</p>
        </mat-card-content>
    </mat-card>
    
    <mat-card>
        <mat-card-header>
            <mat-card-title>Ex. 4 - Property binding</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <mat-checkbox class="example-margin" (click)="onButtonClicked()">Checked</mat-checkbox>
            <p>
                <span [hidden] = "isHidden">Lorem Ipsum jest tekstem stosowanym jako przykładowy wypełniacz w przemyśle poligraficznym. Został po raz pierwszy użyty w XV w. przez nieznanego drukarza do wypełnienia tekstem próbnej książki. Pięć wieków później zaczął być używany przemyśle elektronicznym, pozostając praktycznie niezmienionym. Spopularyzował się w latach 60. XX w. wraz z publikacją arkuszy Letrasetu, zawierających fragmenty Lorem Ipsum, a ostatnio z zawierającym różne wersje Lorem Ipsum oprogramowaniem przeznaczonym do realizacji druków na komputerach osobistych, jak Aldus PageMaker</span>
            </p>
        </mat-card-content>


