
<nav>
    <a routerLink="/home" routerLinkActive="active">Home</a>
    <a routerLink="/data-binding" routerLinkActive="active">Data binding</a>
    <a routerLink="/directives" routerLinkActive="active">Directives</a>
    <a routerLink="/pipes" routerLinkActive="active">Pipes</a>
    <a routerLink="/forms" routerLinkActive="active">Forms</a>
    <a routerLink="/communiation" routerLinkActive="active">Communication</a>
    <a routerLink="/http" routerLinkActive="active">Http</a>
    <a routerLink="/hooks" routerLinkActive="active">Lifecycle hooks</a>
</nav>


