a:link {
    font-weight: 800;
    margin-bottom: 30px;
    text-decoration: none;
    display: block;
    padding-left: 15px;
}

.active {
    color: rgb(250, 248, 252);
    background-color: rgb(136, 94, 175);
    border-radius: 8px;
    padding-left: 15px;
    width: 100px;
}

.active:hover{
    cursor: pointer;

}