<h3> Lazy module in Angular </h3>
<mat-card>
    <mat-card-header>
        <mat-card-title>Example - lazy module</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <p>Go to the console-network before clicking button - "Lazy module"</p>
        <p>After clicking the button you shoud see in the console that lazy-module has been loaded</p>
        <button
        class ='buttonStyle' 
        mat-raised-button color="accent">
       <a routerLink="/lazymodule" routerLinkActive="active">Lazy module</a>
        </button>            
    </mat-card-content>
</mat-card>    
