<div class="container">

    <h3> Communication between components in Angular </h3>
    <mat-card class="parent">
        <mat-card-header > 
            <mat-card-title>Parent component</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <span>Hello:</span>
        </mat-card-content>
    </mat-card>  
    <mat-card class="child">
        <mat-card-header >
            <mat-card-title>Child component</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <span>Hello: </span>
        </mat-card-content>
    </mat-card>  
</div>
