<div class="container">

    <h3> Interaction between components</h3>
    <mat-card class = 'parent'>
        <mat-card-header> 
            <mat-card-title>
                Interaction from the parent to the child
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <app-parent></app-parent>
        </mat-card-content>
    </mat-card>  

    <mat-card class = 'parent'>
        <mat-card-header> 
            <mat-card-title>
                Interaction from the child to the parent
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <app-parent2></app-parent2>
        </mat-card-content>
    </mat-card> 

    <mat-card class = 'parent'>
        <mat-card-header> 
            <mat-card-title>
                Component A
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <app-child3></app-child3>
        </mat-card-content>
    </mat-card> 
    <mat-card class = 'parent'>
        <mat-card-header> 
            <mat-card-title>
                Component B
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <app-child4></app-child4>
        </mat-card-content>
    </mat-card> 

