.container > mat-card {
    width: 45%;
    float: left;
    margin-right: 20px;
    margin-bottom: 25px; 
}

.parent {
    background-color: rgb(171, 199, 240)
}

.child {
    background-color: rgb(197, 147, 147)
}