.buttonStyle {
    margin-bottom: 10px;
    margin-right: 20px;
}

.example-full-width {
    width: 100%;
}

.warning-alert {
    display: block;
    background-color: rgb(218, 113, 113);
    border: 2px solid red;
    padding: 5px 10px 5px 10px;
    margin-bottom: 10px;
    font-weight: 700;
}