<div class="container">
    <mat-card>
        <mat-card-header>
            <mat-card-title>
                <h3>Welcome !!!</h3>       
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
        <p class="textContent">This application is dedicated for javascript developers and any other
        guests who would like to develop their skills in Angular.
        </p>
        <p class="textContent">It consist of examples collected in sections like: 'Data binding',
        'Directives', 'Pipes' etc. Result of every example is presented in the browser. 
        To check how sth. was made you have to go to the source files.  
        </p>
        <p class="textContent">I hope it will help to figure it out how to make things much faster 
            then spend hours to listen tutorials in the Youtube, reading blogs or searching in the net.         
        </p>
        <p class="textContent">If you have any comments, ideas please let me know on my email adress included below.
        </p>
        </mat-card-content>
    </mat-card>    
</div>
